/*Jumbotron*/
#header{
	font-family: 'Megrim', cursive;
	color: #454545;
	font-size: 3em;
	letter-spacing: 30px;
}
#tagline{
	font-family: 'Wire One', sans-serif;
	color: #454545;
	letter-spacing: 4px;
}
.jumbotron{
	background-color: white;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 70px;
}
#homeHr, hr{
	background-color: #BCAA99;
}

/*About Section*/
#aboutHeader{
	text-align: center;
	color: #454545;
	font-size: 2em;
	padding-top: 170px;
}
#aboutLink{
	font-family: 'Megrim', cursive;
	letter-spacing: 20px;
}
.btn-link:hover{
	text-decoration: none;
}
p, a{
	font-family: 'Wire One', sans-serif;
	color: #454545;
	letter-spacing: 4px;
	font-size: 30px;
	text-align: center;
}
a:hover{
	color: #BBBE64;
}
#aboutP{
	position: relative;
	top: 50%;
	transform: translateY(5%);
}
.iLink, i{
	color: #868686;
}
.iLink:hover{
	color: #BBBE64;
}

/*Shop Section*/
#shopHeader{
	text-align: center;
	color: #454545;
	font-size: 2em;
	padding-top: 170px;
}
#shopLink{
	font-family: 'Megrim', cursive;
	letter-spacing: 20px;
}
#shopP{
	position: relative;
	top: 50%;
	transform: translateY(10%);
}
#shopRow{
	padding-bottom: 150px;
}

/*Footer*/
footer{
	background-color: #E6E0D9;
}
#footerContent{
	text-align: center;
	font-family: 'Megrim', cursive;
	color: #454545;
}