body{
	background-color: #E6E0D9;
}

/*Jumbotron*/
#jumbotron{
	position: relative;
	background-image: url("../images/jumbotronImage.jpg");
	background-size: cover;
	min-height: 100vh;
	padding-top: 25px;
	margin-bottom: 0px;
}
#header{
	font-family: 'Megrim', cursive;
	color: white;
	font-size: 4em;
	letter-spacing: 30px;
}
#tagline{
	font-family: 'Calligraffitti', cursive;
	color: white;
	letter-spacing: 4px;
}
#bossLady{
	max-height: 500px;
}
p{
	font-family: 'Calligraffitti', cursive;	
	color: white;
	letter-spacing: 4px;
	font-size: 28px;
	text-align: center;
}
#instagram{
	color: #E6E0D9;
}
#instagram:hover{
	color: #d8c75e;
}
.nav-link{
	font-family: 'Megrim', cursive;
	font-size: 3em;
	color: white;
	letter-spacing: 5px;
}
a:hover{
	color: #d8c75e;
}

/*Main Container*/
#notebookContainer{
	background-image: url("../images/notebookPage.png");
	background-size: cover;
	min-height: 800px;
}
#notebookRow{
	padding-left: 70px;
	padding-right: 20px;
}
.pHeader{
	font-family: 'Megrim', cursive;
	color: white;
	font-size: 4em;
	letter-spacing: 30px;
}
.pContent{
	font-family: 'Calligraffitti', cursive;	
	color: #393939;
	letter-spacing: 2px;
	font-size: 26px;
	text-align: center;
}
.pLink{
	color: #393939;
}
.pLink:hover{
	color: #d8c75e;
	text-decoration: none;
}

/*Footer*/
footer{
	background-color: #E6E0D9;
}
#footerContent{
	text-align: center;
	font-family: 'Megrim', cursive;
	color: #454545;
}