html {
  position: relative;
  min-height: 100%;
}
body{
	/*background-color: red;*/
}
.container-fluid {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#mainPhoto{
	max-height: 400px;
	max-width: 500px;
}
/*Button & Link*/
#enterButton{
	font-family: 'Megrim', cursive;
	font-size: 3em;
	text-decoration: none;
}
#enterLink{
	color: black;
}
#enterLink:hover{
	color: black;
	text-decoration: none;
}

/*font-family: 'Wire One', sans-serif;*/