html {
  position: relative;
  min-height: 100%;
}
body{
	background-image: url("../images/jumbotronImage.jpg");
	background-size: cover;
}
/*Centering conent on the page*/
.container-fluid {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/*Image*/
#mainPhoto{
	max-height: 500px;
}
/*Button & Button Link*/
#enterButton{
	color: white;
	max-height: 70px;
	font-family: 'Megrim', cursive;
	font-size: 4em;
	text-decoration: none;
}
#enterLink{
	color: white;
}
#enterLink:hover{
	color: #d8c75e;
	text-decoration: none;
}
/*hr*/
#enterHr{
	background-color: white;
}
