html {
  position: relative;
  min-height: 100%;
}
/*Centering conent on the page*/
.container-fluid {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/*Main Mobile Hanger Photo*/
#mainPhoto{
	max-height: 400px;
	max-width: 500px;
}
/*Button & Button Link*/
#enterButton{
	color: #454545;
	max-height: 70px;
	font-family: 'Megrim', cursive;
	font-size: 3em;
	text-decoration: none;
}
#enterLink{
	color: #454545;
}
#enterLink:hover{
	color: #454545;
	text-decoration: none;
}
/*hr*/
#enterHr{
	background-color: #BCAA99;
}
